#imageEditor {
    margin:auto;
    padding:20px;
    border:3px solid #75339b;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background-color:#f5f5f5;
}

#editorContainer {
    display:block;
    overflow: auto;
    width: 800px;
    height: 500px;
}

#editor {
    display:block;
    margin: auto;
}

#toolbar {
    display:block;
    margin-right: 50px;
}

#resizer {
    border:2px dashed rgb(230, 67, 67)
}

#toolbar button {
    padding: 10px 20px 10px 20px;
}